.label{
    display : flex;
    flex-direction : column;
    color : black;
    margin-left : 10px;
    padding : 10px;
    font-family : Arial sans-serif;
    font-style  : bold;
    font-size : 20px
}

.container {
    width : 400px;
    height : 400px;
    border-radius : 15px;
    border : none

}

.inp{
     border : none;
     border-radius : 5px;
     padding : 8px;
     margin-top : 10px;
     margin-left : 15px;

}